<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="6ff9325e-7d79-4b41-8a5a-f6be571694fd" Publisher="CN=tbing" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="6ff9325e-7d79-4b41-8a5a-f6be571694fd" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>HeatronicUwpApp</DisplayName>
    <PublisherDisplayName>tbing</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HeatronicUwpApp.App">
      <uap:VisualElements DisplayName="HeatronicUwpApp" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="HeatronicUwpApp" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" EntryPoint="BingelIT.MyHome.Heatronic.HeatronicUwpApp.Tasks.HeatronicListenerTask">
          <uap:AppService Name="de.bingelit.myhome.heatronic.listener"/>
        </uap:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="BingelIT.MyHome.Heatronic.HeatronicUwpApp.Tasks.WebServerListenerTask">
          <uap:AppService Name="de.bingelit.myhome.heatronic.webserver"/>
        </uap:Extension>
        <!--<Extension Category="windows.backgroundTasks" EntryPoint="BingelIT.MyHome.Heatronic.HeatronicUwpApp.Tasks.HeatronicListenerTask">
          <BackgroundTasks>
            <Task Type="general" />
          </BackgroundTasks>
        </Extension>-->
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="serialcommunication">
      <Device Id="any">
        <Function Type="name:serialPort" />
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>